<hello name="Queue"></hello>
<p>Start enqueuing and view the console logs :)</p>

<div class="flex-parent jc-center">
<button type="submit" (click)="add()">Service 1</button>
</div>
<br>
<div class="flex-parent jc-center">
<button type="submit" (click)="add()">Service 2</button>
</div>
<br>
<div class="flex-parent jc-center">
<button type="submit" (click)="add()">Service 3</button>
</div>
<br>
<div class="flex-parent jc-center">
<button type="submit" (click)="add()">Service 4</button>
</div>




